NOTIFICATION_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/notifications
NOTIFICATION_RABBITMQ_URL=amqp://guest:guest@localhost:5672/
NOTIFICATION_RABBITMQ_QUEUE=sigesi_notifications
NOTIFICATION_SMTP_HOST=smtp.gmail.com
NOTIFICATION_SMTP_PORT=587
NOTIFICATION_SMTP_USERNAME=
NOTIFICATION_SMTP_PASSWORD=
NOTIFICATION_SMTP_FROM_EMAIL=noreply@sigesi.com
NOTIFICATION_SMTP_FROM_NAME=SIGESI Notificações
