GOOGLE_CLIENT_ID="You google client id"
GOOGLE_CLIENT_SECRET="Your google client secret"
OAUTH2_LOGOUT_REDIRECT=http://localhost:3000
DATABASE_URL=jdbc:postgresql://db:5432/db_app
DB_NAME=database_name
DATABASE_USER=user
DATABASE_PASSWORD=password

# MinIO Configuration
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

ADMIN_EMAIL=admin@example.com

APP_OAUTH2_SUCCESS_REDIRECT=http://localhost:8080/portal
APP_OAUTH2_FAILURE_REDIRECT=http://localhost:8080/?authError=usuario_inativo
