GOOGLE_CLIENT_ID="You google client id"
GOOGLE_CLIENT_SECRET="Your google client secret"
DATABASE_URL=jdbc:postgresql://db:5432/db_app
DATABASE_USER=user
DATABASE_PASSWORD=password

# MinIO Configuration
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
